.bg-img {
    background: url(https://assets.puzzlefactory.pl/puzzle/184/441/original.jpg);
    background-size: cover;
    background-position: center;
    min-height: 50vh;
}

.orochimaru {
    background: url(https://pbs.twimg.com/media/FO3dSAIVIAQD5pk.jpg);
    background-size: cover;
}

.itachi {
    background: url(https://cdn.shopify.com/s/files/1/0405/1927/0554/products/Naruto-Itachi-Uchiha-Poster_grande.jpg?v=1657255019);
    background-size: cover;
    background-position: top;
}

.pain {
    background: url(https://i.pinimg.com/736x/71/12/7e/71127ee2cabf4fdb8a7486c48e354f6c.jpg);
    background-size: cover;
}

.video {
    height: 65vh;
    width: 100%;
}

.select:hover {
    cursor: pointer;
}

@media (min-width: 991px) {
    .move-down {
        transform: translateY(5vh)
    }
}

.box-shadow {
    box-shadow: 0px 0px 10px gray;
}

.text-shadow {
    text-shadow: 2px 2px black;
}

.text-shadow-1 {
    text-shadow: 0px 0px 10px red;
}

.text-shadow-2 {
    text-shadow: 2px 2px white;
}

.big-card {
    height: 400px;
}

.small-card {
    height: 325px;
}

.card-hover:hover {
    box-shadow: 0px 0px 20px red;
    cursor: pointer;
}

.big-card-hover:hover {
    box-shadow: 0px 0px 20px green;
}

.font-import {
    font-family: 'Ninja Naruto', sans-serif;
}

.naruto {
    color: orange;
    text-shadow: 2px 2px white;

}

.sasuke {
    color: purple;
    text-shadow: 2px 2px white;
}